<title>Inicio de Sesion</title>

<h1>Inicio de Sesion</h1>

<form action="/inicio" method="POST">

    <div>
        <label for="email">Correo Electronico</label>
        <input type="email" name="email"
        required>
    </div>

    <div>
        <label for="clave">Clave</label>
        <input type="password" name="clave"
        required>
    </div>

    <button type="submit">Iniciar Sesion</button>

</form>

<a href="/registro">Registrarse</a>