<title>Registro</title>

<h1>Registro de un Nuevo Usuario</h1>

<form action="/registro" method="POST">

    <div>
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre"
        required>
    </div>

    <div>
        <label for="cedula">Cedula</label>
        <input type="number" id="cedula" name="cedula"
        required>
    </div>

    <div>
        <label for="email">Correo Electronico</label>
        <input type="email" id="email" name="email"
        required>
    </div>

    <div>
        <label for="clave">Clave</label>
        <input type="password" id="clave" name="clave"
        required>
    </div>

    <div>
        <label for="clave">Confirmar Clave</label>
        <input type="password" id="c_clave" name="c_clave"
        required>
    </div>

    <button type="submit">Registrarse</button>

</form>

<a href="/inicio">Iniciar Sesion</a>